/*header starts*/
body {
  font-family: Arial, sans-serif;
  margin: 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 50px;
  background-color: #256bd1;
}

.logo {
  width: 150px;
  height: 60px;
  margin: none;
}

.nav {
  display: flex;
  gap: 20px;
}

.nav a {
  color: #dce8ff;
  text-decoration: none;
  font-size: 16px;
}

.icons {
  background-color: #e6f0ff;
  border-radius: 999px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: -70px;
}

.icons img {
  border-radius: 50%;
  width: 26px;
  height: 26px;
  padding: -20px;
  object-fit: contain;
  margin-right: 20px;
}

.text {
  margin-top: 50px;
}
body {
  margin: 0;
}
/*header ends*/
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  background-color: rgba(255, 255, 255, 0.5);
}

a {
  text-decoration: none;
}

.box {
  background-color: white;
  border-radius: 20px;
  padding: 40px;
  width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.box h2 {
  color: #0033cc;
  font-size: 22px;
  margin-bottom: 30px;
}

.rectangle {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  color: black;
}

.button {
  display: block;
  background-color: #f4dede;
  color: #0033cc;
  padding: 10px;
  width: 100%;
  margin-top: 10px;
  border-radius: 10px;
}

.or-text {
  margin: 20px 0;
  font-size: 14px;
  color: #666;
}

.icons-second {
  font-size: 30px;
  margin: 10px 10px 20px;
}

.login-link {
  display: inline-block;
  font-size: 14px;
  color: gray;
  margin-top: 10px;
}

/*footer starts*/
.footer {
  background-color: #4267cc;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 40px;
  flex-wrap: wrap;
}

.footer-left {
  max-width: 400px;
}

.logo-footer {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.logo-footer img {
  height: 120px;
  width: auto;
  object-fit: contain;
}

.mission {
  margin: 20px 0;
  line-height: 1.6;
}

.contact-info p {
  background-color: white;
  color: #333;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

.buttom-icons a img {
  background: white;
  padding: 8px;
  border-radius: 50%;
  margin-right: 10px;
  height: 32px;
  width: 32px;
}

.footer-links {
  display: flex;
  gap: 80px;
  flex-wrap: wrap;
}

.footer-links h4 {
  margin-bottom: 10px;
}

.footer-links a {
  display: block;
  color: white;
  text-decoration: none;
  margin-bottom: 8px;
}

.footer-links a:hover {
  text-decoration: underline;
}
/*footer ends*/
