/* Header styling starts*/
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #256bd1;
}

.logo {
  padding: 5px 20px;
  width: 150px;
  margin: none;
}

.nav2 {
  display: flex;
}
.nav {
  display: flex;
}

.nav a {
  font-family: Barlow Condensed;
  color: #dce8ff;
  text-decoration: none;
  font-size: 16px;
  padding-left: 20px;
}

.under-header {
  display: flex;
  gap: 30px;
  padding: 15px 0;
  margin-left: 50px;
}

.under-header a {
  text-decoration: none;
  color: #256bd1;
  font-weight: bold;
  font-size: 12px;
}

.icons {
  background-color: #e6f0ff;
  padding: 10px 5px;
  display: flex;
  align-items: center;
  border-bottom-left-radius: 60px;
  border-top-left-radius: 60px;
}

.icons img {
  border-radius: 50%;
  width: 26px;
  height: 26px;
  object-fit: contain;
  margin-right: 10px;
}

.text {
  margin-top: 50px;
}

.active {
  font-weight: bold;
}

/* Hedear Responsiveness */
@media screen and (max-width: 900px) {
  .navbar {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .logo {
    width: 300px;
    translate: 255px -30px;
  }

  .nav2 {
    flex-direction: column;
    font-size: 8pt;
  }
  .nav {
    display: flex;
  }

  .nav a {
    font-size: 18pt;
    padding-top: 7px;
    padding-bottom: 7px;
    translate: -70px 0px;
  }
  .icons {
    padding: 10px 10px;
    padding-right: 80px;
    translate: 0px 20px;
  }

  .icons img {
    width: 25px;
    height: 25px;
  }
}

/* Footer styling starts*/
.footer {
  background-color: #4267cc;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 40px;
  flex-wrap: wrap;
}

.footer-left {
  max-width: 400px;
}

.logo-footer {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.logo-footer img {
  height: 120px;
  width: auto;
  object-fit: contain;
}

.mission {
  margin: 20px 0;
  line-height: 1.6;
}

.contact-info p {
  background-color: white;
  color: #333;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

.bottom-icons a img {
  background: white;
  padding: 8px;
  border-radius: 50%;
  margin-right: 10px;
  height: 32px;
  width: 32px;
}

.footer-links {
  display: flex;
  gap: 80px;
  flex-wrap: wrap;
}

.footer-links h4 {
  margin-bottom: 10px;
}

.footer-links a {
  display: block;
  color: white;
  text-decoration: none;
  margin-bottom: 8px;
}

.footer-links a:hover {
  text-decoration: underline;
}

/*Articles-workouts styling starts*/
/*----- under header menu -----*/

.under-header {
  display: flex;
  gap: 30px;
  margin-left: 50px;
  padding: 15px 0;
}

.under-header a {
  font-family: Public Sans;
  color: #256bd1;
  font-size: 16px;
}

/*----- workout section -----*/

.workout {
  position: relative;
  min-height: 400px;
  overflow: hidden;
}

.workout-text p {
  font-family: Public Sans;
  color: white;
  font-size: 18px;
  line-height: 1.6;
  max-width: 500px;
}

.workout-text h1 {
  font-family: Bebas Neue;
  font-size: 72px;
  letter-spacing: 1px;
  margin-top: 18px;
  margin-bottom: 0px;
}

.workout-text {
  position: absolute;
  left: 2%;
  top: 10%;
  color: white;
  max-width: 600px;
  padding: 0px 20px;
  border-radius: 20px;
  background: rgba(30, 104, 211, 0.7);
}

.workout-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

/*----- recent articles section -----*/

.recent-articles {
  background-color: #f5f5f5;
  color: #111;
  padding: 60px 80px;
}

.recent-articles h2 {
  font-family: Chivo;
  text-align: center;
  font-size: 32px;
  color: #1d2c6b;
  margin-top: 0;
  margin-bottom: 50px;
}

.article-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 30px;
}

.article-card {
  display: flex;
  flex-direction: column;
  background: transparent;
}

.article-image {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
}

.article-image img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 12px;
}

.article-image h3 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 15px;
  font-size: 28px;
  letter-spacing: 1px;
  font-weight: 100;
  font-family: Bebas Neue;
  color: white;
  background: linear-gradient(to top, #0a287e 0%, transparent 100%);
  line-height: 1.2;
  border-radius: 0 0 12px 12px;
}

.article-card p {
  margin: 15px 0 0;
  font-size: 14px;
  font-family: Chivo;
  line-height: 1.6;
  padding-top: 15px;
  border-top: 2px solid #0a287e;
}

.article-card a {
  margin-top: 10px;
  font-weight: 800;
  color: #0a287e;
  text-decoration: none;
  font-size: 14px;
}

.article-card .meta {
  margin-top: 10px;
  font-size: 13px;
  font-family: Public Sans;
  color: #0a287e;
  display: flex;
  justify-content: space-between;
}

/*----- popular section starts -----*/

.popular-article {
  margin-top: 0px;
  background-color: #ffffff;
}

.popular-label {
  background-color: #0a287e;
  color: #fbe9e4;
  font-family: Bebas Neue;
  font-size: 38px;
  padding: 10px 50px;
  display: inline-block;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.popular-content {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  align-items: center;
}

.popular-image img {
  width: 100%;
  max-width: 700px;
  height: auto;
  object-fit: cover;
}

.popular-info {
  position: relative;
  flex: 1;
  min-width: 300px;
  padding: 20px 0px;
}

.popular-illustration {
  position: absolute;
  top: -9%;
  right: 10%;
  width: 320px;
  max-width: none;
}

.popular-info h4:first-of-type {
  margin-top: 140px;
  margin-bottom: -35px;
}

.popular-info h4 {
  color: #256bd1;
  font-size: 24px;
  font-family: Bebas Neue;
  letter-spacing: 1px;
  margin: -20px 0 10px;
}

.popular-info h2 {
  font-size: 38px;
  font-family: Bebas Neue;
  letter-spacing: 1px;
  color: #1d2c6b;
  margin-bottom: 15px;
}

.popular-info p {
  font-size: 16px;
  font-family: Chivo;
  line-height: 1.6;
  margin-bottom: 20px;
}

.popular-meta {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #6a7ba3;
}

.popular-meta a {
  font-weight: bold;
  font-family: Chivo;
  color: #2a45c4;
  text-decoration: none;
}

.popular-meta span {
  font-family: Public Sans;
  color: #2a45c4;
  text-decoration: none;
  margin-right: 30px;
}

/*Articles-main styling starts*/
/*----- recommended article section -----*/
.recommended-article {
  position: relative;

  overflow: hidden;
}

.recommended-background {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.recommended-article-card {
  position: relative;
  z-index: 2;
  background: white;
  max-width: 430px;
  padding: 30px;
  border-radius: 20px;
  margin: 60px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.publicated {
  font-size: 14px;
  font-family: Public Sans;
  color: #1e68d3;
  display: flex;
  gap: 10px;
}

.recommended-article-card h1 {
  font-family: Barlow Condensed;
  font-weight: 100;
  font-size: 52px;
  line-height: 1;
  color: #000;
  margin-bottom: 10px;
}

.highlight {
  font-family: Bebas Neue;
  font-weight: 52px;
  color: #0a287e;
}

.description {
  font-family: Chivo;
  font-size: 16px;
  color: #000;
}

.read-more {
  font-family: "Chivo", sans-serif;
  color: #1e68d3;
  text-decoration: none;
  font-weight: bold;
}

/* responsiveness articles-main */
/* recommended section*/
@media (max-width: 768px) {
  .recommended-article {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
  }

  .recommended-background {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .recommended-article-card {
    margin-top: 10px;
    padding: 20px;
    text-align: center;
  }

  .recommended-article-card h1 {
    font-size: 24px;
    line-height: 1.3;
  }

  .recommended-article-card p {
    font-size: 16px;
    margin-top: 10px;
  }

  .read-more {
    font-size: 16px;
    padding: 10px 20px;
  }

  .recommended-article {
    height: 500px;
    overflow: hidden;
  }

  .recommended-background {
    height: 500px;
    object-fit: cover;
    object-position: center;
  }

  .recommended-article-card {
    top: 50%;
    transform: translateY(-50%);
    padding: 20px;
    text-align: center;
  }
}

/*----- main topics section -----*/
.main-topics {
  text-align: center;
  padding: 0;
  background: white;
  margin: 0;
}

.section-title {
  font-family: Public Sans;
  font-size: 18px;
  color: #0a287e;
  margin: 20px 0 20px 0;
}

.topics-list {
  background-color: #1e68d3;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 0;
  flex-wrap: wrap;
  width: 100vw;
}

.topic {
  color: white;
  font-family: Bebas Neue;
  font-size: 50px;
  cursor: pointer;
}

.browse-news {
  background-color: #fbe9e4;
  font-family: Chivo;
  font-size: 18px;
  color: #0a287e;
  font-weight: bold;
  padding: 10px 0;
  margin: 0;
  width: 100vw;
}

/*----- recommended articles section -----*/

.recommended-articles-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 40px;
  margin-bottom: 160px;
  margin-top: 80px;
  padding-left: 5%;
  padding-right: 5%;
}

.recommended-article-cards {
  display: flex;
  flex-direction: column;
  background: transparent;
  height: auto;
}

.recommended-article-image {
  position: relative;
  overflow: hidden;
  height: 250px;
}

.recommended-article-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.recommended-article-image h3 {
  position: absolute;
  width: 270px;
  bottom: 0px;
  left: 0px;
  margin: 0;
  padding: 8px 12px;
  padding-bottom: 0px;
  padding-left: 0px;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 100;
  font-family: Bebas Neue;
  color: black;
  background: white;
  display: inline-block;
  border-top-right-radius: 6px;
}

.recommended-article-cards p {
  margin: 20px 0 0;
  font-size: 14px;
  font-family: Chivo;
  line-height: 1.6;
  border-top: 2px solid #1e68d3;
  padding-top: 20px;
  flex-grow: 1;
}

.recommended-article-cards a {
  margin-top: 35px;
  font-family: Chivo;
  font-weight: 800;
  color: #1e68d3;
  text-decoration: none;
  font-size: 14px;
}

/* ----- popular article section -----*/

.popular-section {
  padding: 40px 0px;
  background-color: white;
}

.popular-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.popular-image {
  flex: 1;
  max-width: 50%;
}

.popular-image img {
  max-width: 100%;
  width: 100%;
  height: auto;
  object-fit: contain;
}

.popular-image,
.popular-text {
  flex: 1;
  max-width: 50%;
}

.popular-text {
  flex: 1;
  max-width: 650px;
  position: relative;
}

.popular-text .graphics {
  width: 150px;
  height: auto;
  display: block;
  margin-bottom: 15px;
}

.popular-text h3 {
  font-family: Bebas Neue;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.4;
  color: #1e68d3;
  margin-bottom: 16px;
}

.popular-text h3 span {
  font-family: Bebas Neue;
  font-size: 26px;
  color: #052d7c;
}

.popular-text p {
  font-family: Public Sans;
  font-size: 14px;
  line-height: 1.6;
  color: #111;
  margin-bottom: 20px;
  max-width: 330px;
}

.popular-text .read-more {
  font-family: Chivo;
  font-weight: bold;
  color: #0a287e;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 10px;
}

.heading-row {
  display: block;
}

.popular-meta {
  font-family: Public Sans;
  font-size: 12px;
  color: #0a287e;
  display: flex;
  gap: 10px;
}

/*responsiveness for popular article section*/
@media screen and (max-width: 768px) {
  .popular-content {
    flex-direction: column;
    gap: 30px;
    text-align: center;
    align-items: center;
  }

  .popular-image,
  .popular-text {
    max-width: 100%;
    flex: 1 1 100%;
  }

  .popular-text h2 {
    font-size: 22px;
  }

  .popular-text p {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 14px;
  }

  .popular-text .graphics {
    position: relative;
    width: 100px;
    flex-shrink: 0;
    margin: 0;
    display: block;
  }

  .popular-label {
    font-size: 24px;
    padding: 8px 20px;
  }

  .popular-meta {
    flex-direction: column;
  }

  .heading-row {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    justify-content: center;
    margin-bottom: 16px;
    flex-wrap: wrap;
    text-align: left;
  }

  .heading-row .graphics {
    width: 60px;
    flex-shrink: 0;
    margin: 0;
  }

  .heading-row h3 {
    margin: 0;
    font-size: 20px;
    line-height: 1.3;
  }
}

/*Articles-health styling starts*/
/*----- health section -----*/

.health {
  position: relative;
  overflow: hidden;
}

.health-text p {
  font-family: Public Sans;
  color: white;
  font-size: 18px;
  line-height: 1.6;
  max-width: 500px;
}

.health-text h1 {
  font-family: Bebas Neue;
  font-size: 72px;
  letter-spacing: 1px;
  margin-top: 18px;
  margin-bottom: 0px;
}

.health-text {
  position: absolute;
  left: 2%;
  top: 10%;
  color: white;
  max-width: 600px;
  padding: 0px 20px;
  border-radius: 20px;
  background: rgba(30, 104, 211, 0.7);
}

.health-image img {
  width: 100%;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

/*responsiveness for the top part of the page*/
@media (max-width: 768px) {
  .health-text {
    position: static;
    max-width: 100%;
    margin-top: 20px;
    padding: 15px;
    border-radius: 15px;
    text-align: center;
  }

  .health-text h1 {
    font-size: 48px;
  }

  .health-text p {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .health-text h1 {
    font-size: 29px;
  }

  .health-text p {
    font-size: 10px;
  }

  .health-image img {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }
}

/*----- recent articles health section -----*/

.recent-articles-health {
  background-color: #f5f5f5;
  color: #111;
  padding: 60px 80px;
}

.recent-articles-health h2 {
  font-family: Chivo;
  text-align: center;
  font-size: 32px;
  color: #1d2c6b;
  margin-top: 0;
  margin-bottom: 50px;
}

.article-list-health {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 30px;
}

.article-card-health {
  display: flex;
  flex-direction: column;
  background: transparent;
}

.article-image-health {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
}

.article-image-health img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 12px;
}

.article-image-health h3 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 15px;
  font-size: 26px;
  letter-spacing: 1px;
  font-weight: 100;
  font-family: Bebas Neue;
  color: white;
  background: linear-gradient(to top, #0a287e 0%, transparent 100%);
  line-height: 1.2;
  border-radius: 0 0 12px 12px;
}

.article-card-health p {
  margin: 15px 0 0;
  font-size: 14px;
  font-family: Chivo;
  line-height: 1.6;
  padding-top: 15px;
  border-top: 2px solid #0a287e;
}

.article-card-health a {
  margin-top: 10px;
  font-weight: 800;
  color: #0a287e;
  text-decoration: none;
  font-size: 14px;
}

.article-card-health .meta {
  margin-top: 10px;
  font-size: 13px;
  font-family: Public Sans;
  color: #0a287e;
  display: flex;
  justify-content: space-between;
}

.article-card-health .meta a {
  font-weight: normal;
  color: #0a287e;
  text-decoration: none;
  font-family: Public Sans;
  font-size: 13px;
}

/*Articles-health-nutrition styling starts*/
/*highlighted nutrition article*/

.highlighted-nutrition-article {
  position: relative;
  width: 100%;
  height: 420px;
  overflow: hidden;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.highlighted-image-nutrition img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
  display: block;
}

.highlighted-text-nutrition-background {
  position: absolute;
  top: 200px;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  padding: 130px 0;
  display: flex;
  justify-content: center;
  background: linear-gradient(to top, #0a287e 0%, transparent 100%);
}

.highlighted-text-nutrition {
  position: absolute;
  font-family: Bebas Neue;
  font-size: 28px;
  top: 50%;
  left: 5%;
  letter-spacing: 1px;
  color: white;
  max-width: 900px;
}

/*nutrition articles list*/

.main-content {
  display: flex;
  gap: 40px;
}

.nutrition-articles-section {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.nutrition-article {
  display: flex;
  gap: 15px;
  padding: 40px 65px;
}

.nutrition-article img {
  width: 240px;
  height: 240px;
  object-fit: cover;
  flex-shrink: 0;
}

.nutrition-article-text h2 {
  font-size: 28px;
  color: #0a287e;
  font-family: Bebas Neue;
  text-align: left;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: -8px;
}

.nutrition-article-text p {
  font-size: 15px;
  font-family: Chivo;
  color: #000;
  width: 250px;
}

.nutrition-article-text a {
  font-size: 15px;
  font-family: Chivo;
  font-weight: bold;
  color: #1e68d3;
}

/*-----top comments section----- */

.top-comments {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 0px;
  background-color: #f5fbff;
}

.top-comments-heading {
  height: 60px;
  transform: translateY(-20px);
  background-color: #fbe9e4;
}

.top-comments-heading h1 {
  font-family: Chivo;
  font-size: 26px;
  color: #0a287e;
  text-align: center;
  margin-bottom: 20px;
}

.top-comments-profiles {
  display: flex;
  flex-direction: column;
  width: 450px;
}

.top-comments-profile {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
}

.top-comments-profile img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
}

.comment {
  padding: 16px 0;
  border-bottom: 1px solid #ccc;
}

.comment h1 {
  font-family: Chivo;
  font-weight: bold;
  font-size: 16px;
  color: #0a287e;
  margin: 0;
}

.comment p {
  font-family: Chivo;
  font-size: 14px;
  color: #333;
  margin-top: 8px;
}

/* ----- author section ------*/

.become-author {
  font-family: Chivo;
  display: flex;
  justify-content: center;
  padding: 20px;
  flex-direction: column;
}

.become-author p {
  margin-top: 0px;
  font-size: 15px;
  text-align: center;
}

.become-author h3 {
  font-size: 18px;
  font-weight: bold;
  color: #0a287e;
  text-align: center;
}

.become-author form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 0px;
}

.become-author input {
  padding: 10px;
  border: 0.5px solid #ccc;
  box-shadow: 2px 2px 5px rgba(47, 47, 47, 0.3);
  border-radius: 50px;
  width: 300px;
}

.become-author button {
  width: 145px;
  background-color: #1e68d3;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-family: Chivo;
  font-weight: bold;
}

/*responsiveness for articles-health-nutrition */
@media (max-width: 700px) {
  .highlighted-nutrition-article {
    height: 320px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }

  .highlighted-text-nutrition {
    font-size: 15px;
    max-width: 90%;
    text-align: left;
  }

  .highlighted-text-nutrition-background {
    top: 160px;
    padding: 90px 0;
  }

  .highlighted-image-nutrition img {
    object-position: center;
    object-fit: cover;
    height: 100%;
  }

  .main-content {
    flex-direction: column;
  }

  .nutrition-articles-section,
  .top-comments {
    width: 100%;
  }

  .top-comments-profiles {
    width: 100%;
  }

  .nutrition-article {
    flex-direction: column;
    align-items: left;
  }

  .nutrition-article img {
    width: 350px;
    height: 180px;
    object-fit: cover;
  }

  .nutrition-article-text p {
    width: 100%;
  }
}

/*Exrcises styling starts*/
/* ----- equipment options ----- */

.main-content-exercises {
  display: flex;
  gap: 40px;
}

.equipment-section {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.equipment-heading h1 {
  font-family: Bebas Neue;
  font-size: 36px;
  color: #0a287e;
  margin-bottom: 20px;
  text-align: center;
}

.equipment-categories {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 120px;
  row-gap: 20px;
  text-align: center;
  justify-content: center;
  margin-bottom: 80px;
}

.category {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.category img {
  width: 180px;
  height: 180px;
  object-fit: cover;
}

.category p {
  margin-top: 5px;
  font-size: 16px;
  font-weight: bold;
  color: #0a287e;
}

.category a p {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.view-more-equipment button {
  width: 160px;
  background-color: #1e68d3;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-family: Chivo;
  font-weight: bold;
  margin-bottom: 70px;
}

.view-more-equipment img {
  width: 50px;
  height: 50px;
}

/* ----- muscle group ----- */

.muscle-groups {
  background-color: #fafaf9;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 10px;
}

.muscle-groups-heading {
  text-align: center;
}

.muscle-groups-heading h1 {
  font-family: Bebas Neue;
  font-size: 36px;
  color: #0a287e;
  margin-bottom: 10px;
}

.muscle-groups-heading h2 {
  font-family: Public Sans;
  font-size: 18px;
  color: #0a287e;
  margin: 0;
}

.muscle-groups-image img {
  max-width: 500px;
  height: auto;
  object-fit: contain;
}

/* responsiveness for exercise page */
@media (max-width: 956px) {
  .main-content-exercises {
    flex-direction: column;
    gap: 20px;
  }

  .equipment-section,
  .muscle-groups {
    width: 100%;
    padding: 20px;
  }

  .equipment-categories {
    column-gap: 40px;
    row-gap: 30px;
  }

  .category img {
    width: 150px;
    height: 150px;
  }

  .view-more-equipment button {
    margin-bottom: 40px;
  }

  .muscle-groups-image img {
    max-width: 300px;
  }

  .equipment-heading h1,
  .muscle-groups-heading h1 {
    font-size: 28px;
  }

  .muscle-groups-heading h2 {
    font-size: 16px;
  }
}

/*----- Log in styling -----*/

main {
  display: flex;
  margin-left: 0px;
  align-items: center;
  height: 600px;
  background-color: rgba(255, 255, 255, 0);
  color: rgba(0, 0, 0, 0.1);
  margin-left: 100px;
  margin-top: 50px;
  margin-bottom: 250px;
}

a {
  text-decoration: none;
}

.login-background {
  background-image: url("../images/login.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.box {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 40px;
  padding: 80px;
  width: 350px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  outline: none;
}

.box h2 {
  color: #1e68d3;
  font-size: 40px;
  margin-bottom: 30px;
  font-stretch: ultra-condensed;
  font-family: "Bebas Neue", sans-serif;
} /*login text */

.rectangle {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 50px;

  background-color: #f9f9f9;
  color: #666;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);

  border: none;
  outline: none;
}

.button {
  display: block;
  background-color: #f4dede;
  color: #1e68d3;
  padding: 10px;
  width: 107%;
  margin-top: 20px;
  border-radius: 40px;
  text-align: center;
  font-family: "Chivo";
  box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.3);
  font-weight: bold;

  border: none;
  outline: none;
}

.or-text {
  margin: 20px 0;
  font-size: 14px;
  color: #666;
  text-align: center;
  font-family: "Chivo";
}

.icons-second {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.icons-second img {
  width: 40px;
  height: 40px;
  background: white;
  padding: 8px;
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.login {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  font-family: "Chivo", sans-serif;
  font-size: 16px;
  color: #555;
}

.login a {
  margin: 0 5px;
  text-decoration: none;
}

.log-in a {
  text-decoration: none;
  color: #007bff;
}

h2 {
  text-align: center;
  font-family: "Chivo";
}

/* responsiveness for log in page */
@media (max-width: 1024px) {
  main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 20px 150px 20px;
    height: auto;
  }

  .box {
    padding: 50px 30px;
    width: 90%;
    max-width: 400px;
  }

  .box h2 {
    font-size: 36px;
  }

  .rectangle {
    font-size: 16px;
  }

  .button {
    width: 100%;
    font-size: 16px;
  }

  .icons-second {
    gap: 15px;
  }

  .icons-second img {
    width: 36px;
    height: 36px;
  }

  .login {
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  .box {
    padding: 40px 30px;
  }

  .box h2 {
    font-size: 30px;
  }

  .rectangle {
    padding: 8px;
    font-size: 14px;
  }

  .button {
    font-size: 14px;
  }

  .icons-second img {
    width: 32px;
    height: 32px;
    padding: 6px;
  }

  .or-text,
  .login {
    font-size: 12px;
  }
}

/*About us page styling*/
.about-page {
  display: flex;
  justify-content: center;
  gap: 200px;
  margin: 80px 0;
}

.user-card {
  text-align: center;
  font-family: "Bebas Neue";
}

.user-card img {
  width: 150px;
  height: 200px;
  border-radius: 30px;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.user-name {
  margin: 0;
  margin-top: 10px;
  font-size: 32px;
  color: #1e68d3;
}

.user-title {
  margin: 0;
  font-size: 28px;
  color: #444;
}

.SS-description {
  font-family: Chivo;
  max-width: 950px;
  margin: 0 auto;
  text-align: center;
}

.SS-description p {
  font-size: 22px;
}

.about-page-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 950px;
  margin: 150px auto 50px auto;
  gap: 40px;
}

.about-page-bottom a {
  font-family: "Chivo", Arial, sans-serif;
  font-size: 20px;
}

.about-page-icons img {
  width: 50px;
  margin-top: 10px;
}

.about-page-bottom-right p {
  margin-left: 0;
  font-family: "Chivo", Arial, sans-serif;
  text-align: left;
}

@media (max-width: 1024px) {
  .about-page {
    flex-direction: column;
    align-items: center;
    gap: 60px;
    margin: 60px 20px;
  }

  .about-page-bottom {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: 100px 20px 40px 20px;
  }

  .SS-description {
    padding: 0 20px;
  }

  .SS-description p {
    font-size: 20px;
  }

  .about-page-bottom a {
    text-align: center;
  }

  .about-page-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .about-page-bottom-right p {
    text-align: center;
    margin: 0;
  }
}

@media (max-width: 600px) {
  .user-card img {
    width: 120px;
    height: 160px;
  }

  .user-name {
    font-size: 26px;
  }

  .user-title {
    font-size: 22px;
  }

  .SS-description p {
    font-size: 18px;
  }

  .about-page-icons img {
    width: 40px;
  }

  .about-page-bottom a {
    font-size: 18px;
  }

  .about-page-bottom-right p {
    font-size: 16px;
  }
}

/* Workouts-selection slyling starts */

.page {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* ttl - title */
.section-ttl {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.equipment-list,
.muscle-group-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

label {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px;
  background-color: #e0e0e0;
  border-radius: 5px;
  cursor: pointer;
}

input[type="radio"] {
  margin-right: 5px;
}

.checkbox {
  margin-right: 8px;
}

.body-diagram {
  text-align: center;
  margin: 20px 0;
}

img {
  max-width: 100%;
  height: auto;
}

.selection {
  margin-top: 20px;
  padding: 10px;
  background-color: #e0e0e0;
  border-radius: 5px;
}

/*----- Workouts styling -----*/
/* upper banner */

.workoutH {
  font-family: Bebas Neue;
  font-weight: 100;
  color: white;
  font-size: 50px;
  margin-left: 30px;
  margin-bottom: 0px;
  translate: 130px -550px;
}

.workout-txt {
  font-family: Chivo;
  color: white;
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 30px;
  translate: 130px -550px;
}

.workout-txt-margin {
  margin-bottom: 87px;
}

.workouts-image {
  width: 100%;
}

.workouts-background {
  background: #e6f2f8;
  padding-bottom: 80px;
  padding-top: 80px;
  margin-left: 0px;
  margin-top: -260px;
  margin-bottom: 0px;
}

/* week days list */
.days {
  margin-top: 50px;
  padding-left: 0px;
  margin-left: 10px;
}

.days li {
  list-style: none;
  margin-top: 2rem;
  font-family: Chivo;
  font-size: 18px;
  color: #1e61d3;
}

.days a {
  text-decoration: none;
}

/* left part with the workouts generator */
.exercises-workout {
  background: #0a287e;
  margin-left: 100px;
  padding-left: 170px;
  padding-right: 431px;
}

.exercises-header {
  font-family: Bebas Neue;
  font-size: 56pt;
  color: #fff;
  margin-bottom: 10px;
}

.exercises-header p {
  margin-bottom: 10px;
}

.italic {
  padding: 5px 7px;
  border-top-right-radius: 30px;
  border: 1.5px solid white;
  color: #fff;
}

.italic p {
  font-style: italic;
  font-size: 10pt;
}

.info p {
  display: flex;
  font-family: Bebas Neue;
  font-size: 14pt;
  font-weight: 100;
  margin-top: 13px;
  margin-bottom: 13px;
}

.info {
  display: flex;
  background-color: #e6f2f8;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 2px solid #0a287e;
  color: #0a287e;
}

.info h1 {
  display: flex;
  font-family: Bebas Neue;
  font-size: 14pt;
  margin-top: 13px;
  margin-bottom: 13px;
  font-weight: 100;
}

.info-spacing {
  padding-left: 3rem;
}

.examples {
  background-color: #1e68d3;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  color: #fff;
  padding-left: 10px;
}

.examples-top {
  background-color: #1e68d3;
  border-bottom: 1px solid white;
  border-top: 1px solid #1e68d3;
  color: #fff;
  padding-left: 10px;
}

.examples-bottom {
  background-color: #1e68d3;
  border-top: 1px solid white;
  color: #fff;
  border-bottom-right-radius: 30px;
  padding-bottom: 2px;
  padding-left: 10px;
  margin-bottom: 70px;
}

.exemples p {
  color: #fff;
}

/* Responsiveness for workouts page */

@media screen and (max-width: 900px) {
  .workouts-background {
    flex-direction: column;
    padding-bottom: 200px;
    margin-right: 0px;
    padding-bottom: 0px;
  }
  .workoutH {
    translate: 0px -200px;
  }

  .workout-txt {
    translate: 0px -200px;
  }
  .days {
    margin-top: -40px;
    text-align: start;
    margin-left: -80px;
  }
  .days li {
    font-size: 18pt;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .exercises-workout {
    margin-left: 0px;
    font-size: 11pt;
    padding-right: 50px;
    padding-left: 50px;
  }
  .exercises-header p {
    font-size: 28pt;
  }

  .italic p {
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .info h1 {
    font-size: 12pt;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .info p {
    font-size: 12pt;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

/*----- Home styling -----*/
/* banner in the top part of the page */
.home-header h1 {
  font-family: Bebas Neue;
  font-weight: 100;
  font-size: 48pt;
  text-align: center;
  color: white;
  translate: 0px -400px;
  margin: 0px 0px;
}

.home-header h2 {
  font-family: Public Sans;
  font-weight: 100;
  text-align: center;
  color: white;
  translate: 0px -400px;
  margin: 5px 5px;
}

/*second part with two recommended features */
.home-icons {
  text-align: center;
  margin-bottom: 70px;
}

.home-icons img {
  width: 10%;
  height: auto;
}

.home-subheader1 {
  color: #0a287e;
  font-family: Chivo;
  font-size: 18pt;
  text-align: left;
}

.home-header1 {
  color: #0a287e;
  font-family: Chivo;
  font-size: 18pt;
}

.home-icons p {
  font-family: Public Sans;
  font-size: 12pt;
  margin-left: 70px;
  margin-right: 70px;
}

.home-icons-flex {
  display: flex;
  translate: 0px -100px;
}

.home-read-more a {
  background-color: #1e68d3;
  color: white;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 30px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 15px;
  transition: all 0.3s ease;
}

.home-read-more a:hover {
  background-color: #0a287e;
  transform: scale(1.05);
}

/* calendar with workouts presentation */
.home-workouts {
  background: #ddf2ff;
  padding-left: 20px;
  padding-top: 10px;
  display: flex;
}

.home-workouts h1 {
  font-family: Bebas Neue;
  font-weight: 100;
  font-size: 48pt;
  color: white;
  max-width: 600px;
}

.home-workouts p {
  color: #0a287e;
  font-family: Chivo;
  font-size: 12pt;
  max-width: 500px;
}

.home-workouts img {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
}

.home-star {
  padding: 0px;
  translate: -120px 10px;
}

/* exercises based on muscle groups presentation */

.home-muscle-groups {
  display: flex;
  margin-top: 50px;
  margin-left: 30px;
}

.home-muscle-groups p {
  margin-top: 10px;
  max-width: 340px;
  text-align: left;
  font-family: Chivo;
}

.home-muscle-groups h1 {
  font-family: Bebas Neue;
  font-size: 48px;
  font-weight: 100;
  margin: 0px;
  color: #0a287e;
  max-width: 400px;
  text-align: right;
  position: absolute;
  right: 30px;
}

.home-muscle-groups-img-flex {
  display: flex;
}

.home-muscle-groups-img {
  margin-top: 70px;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
  transition: transform 0.3s ease;
}

.home-muscle-groups-img p {
  font-family: Public Sans;
  color: #0a287e;
  font-size: 16pt;
}

.home-muscle-groups-img img {
  width: 75%;
}

.home-muscle-groups-img:hover {
  transform: scale(1.1);
  z-index: 2;
}

.home-header2 a {
  color: #0a287e;
  font-family: Chivo;
  font-weight: bold;
  font-size: 14pt;
  text-align: center;
  margin-top: 50px;
  text-decoration: none;
}

.home-header2 {
  color: #0a287e;
  font-family: Chivo;
  font-weight: bold;
  font-size: 14pt;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 100px;
  text-decoration: none;
}

.home-header3 {
  max-width: 400px;
  text-align: right;
  position: absolute;
  right: 30px;
  translate: 0px -670px;
}

.home-header3 h1 {
  font-size: 36pt;
  font-weight: 100;
  font-family: Bebas Neue;
  color: #0a287e;
}

.home-header3 p {
  font-size: 25pt;
  font-family: Barlow Condensed;
  font-weight: 100;
  color: #0a287e;
}

/* responsiveness for home page */
@media screen and (max-width: 900px) {
  .home-icons-flex {
    flex-direction: column;
    align-items: center;
  }
  .home-img {
    width: 100%;
  }
  .home-header {
    translate: 0px 250px;
    margin-bottom: 100px;
  }
  .home-header h1 {
    font-size: 20pt;
  }
  .home-header h2 {
    font-size: 12pt;
  }

  .home-workouts {
    flex-direction: column;
  }
  .home-workouts p {
    margin-right: 30px;
  }
  .home-star {
    translate: 210px -370px;
  }
  .home-vector {
    translate: -25px -75px;
  }
  .home-muscle-groups h1 {
    position: static;
    text-align: start;
    font-size: 40pt;
  }
  .home-muscle-groups {
    flex-direction: column;
  }
  .home-muscle-groups-img-flex {
    flex-direction: column;
  }
  .home-header3 {
    translate: 0px 0px;
    margin-bottom: 50px;
  }
  .home-header3 {
    position: static;
    text-align: start;
    max-width: 300px;
    margin-left: 20px;
  }
}

/*Editorial page styling starts*/
/*heading for the article*/

.heading-eating-clean {
  position: relative;
  width: 100%;
  height: 420px;
  overflow: hidden;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.heading-image-eating-clean img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
  display: block;
}

.heading-text-eating-clean-background {
  position: absolute;
  top: 200px;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  padding: 130px 0;
  display: flex;
  justify-content: center;
  background: linear-gradient(to top, #0a287e 0%, transparent 100%);
}

.heading-text-eating-clean {
  position: absolute;
  font-family: Bebas Neue;
  font-size: 28px;
  top: 50%;
  left: 5%;
  letter-spacing: 1px;
  color: white;
  max-width: 900px;
}

/*content of the article*/

.main-content {
  display: flex;
  gap: 40px;
}

.editorial-section {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.editorial {
  display: flex;
  gap: 15px;
  padding: 5px 50px;
}

.editorial img {
  width: 635px;
  height: 240px;
  object-fit: cover;
  flex-shrink: 0;
}

.editorial-text h2 {
  font-size: 50px;
  color: #0a287e;
  font-family: Bebas Neue;
  line-height: 1;
  text-align: left;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 10px;
}

.editorial-text p {
  font-size: 16px;
  font-family: Chivo;
  color: #000;
  width: 630px;
}

.editorial-text-content h2 {
  font-size: 26px;
  color: #0a287e;
  font-family: Barlow Condensed;
  text-align: left;
  font-weight: 100;
  margin-top: 0;
  margin-bottom: 5px;
}

.editorial-text-content p {
  font-size: 14px;
  font-family: Chivo;
  color: #000;
  width: 630px;
}

.breadcrumb p {
  font-size: 15px;
  font-family: Public Sans;
  color: #000;
  width: 630px;
}

/*top comments section */

.comments {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 0px;
  background-color: #f5fbff;
}

.comments-heading {
  height: 60px;
  transform: translateY(-20px);
  background-color: #fbe9e4;
}

.comments-heading h1 {
  font-family: Chivo;
  font-size: 26px;
  color: #0a287e;
  text-align: center;
  margin-bottom: 20px;
}

.comments-profiles {
  display: flex;
  flex-direction: column;
  width: 450px;
}

.comments-profile {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
}

.comments-profile img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
}

.comment {
  padding: 13px 0;
  border-bottom: 1px solid #ccc;
}

.comment h1 {
  font-family: Chivo;
  font-weight: bold;
  font-size: 16px;
  color: #0a287e;
  margin: 0;
}

.comment p {
  font-family: Chivo;
  font-size: 13px;
  color: #333;
}

/* leave a comment */

.leave-comment {
  font-family: Chivo;
  display: flex;
  justify-content: center;
  padding: 20px;
  flex-direction: column;
}

.leave-comment p {
  margin-top: 0px;
  font-size: 15px;
  text-align: center;
}

.leave-comment h3 {
  font-size: 18px;
  font-weight: bold;
  color: #0a287e;
  text-align: center;
}

.leave-comment form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 0px;
}

.leave-comment input {
  padding: 10px;
  border: 0.5px solid #ccc;
  box-shadow: 2px 2px 5px rgba(47, 47, 47, 0.3);
  border-radius: 50px;
  width: 300px;
}

.leave-comment button {
  width: 110px;
  background-color: #1e68d3;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-family: Chivo;
  font-weight: bold;
}

/* responsiveness for editorial page*/
@media (max-width: 775px) {
  .heading-eating-clean {
    height: 320px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }

  .heading-text-eating-clean-background {
    top: 160px;
    padding: 90px 0;
  }

  .heading-image-eating-clean img {
    object-position: center;
    object-fit: cover;
    height: 100%;
  }

  .main-content {
    flex-direction: column;
  }

  .editorial,
  .comments {
    width: 100%;
  }

  .comments-profiles {
    width: 100%;
  }

  .editorial img {
    width: 350px;
    height: 180px;
    object-fit: cover;
  }

  .editorial-text-content p {
    width: 100%;
  }

  .editorial-text p,
  h2 {
    width: 100%;
  }
}
